<div class="container">
  <app-navbar></app-navbar>
  <div class="jumbotron jumb-home">
    <div class="row">
      <div class="col-md-6">
        <div class="hero-content p-4">
          <h1>WOULD YOU LIKE TO LEARN TO CODE FOR FREE?</h1>
          <p>
            Inspire coders offers the best on hands practice in the world of
            programming. The training is for complete beginners who want to
            learn the basics of software development.
          </p>
          <button class="button btn-white">Join us now</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="hero-img img-responsive">
          <img
            src="../../assets/images/undraw_coding_6mjf 2.png"
            alt="programmer"
          />
        </div>
      </div>
    </div>
  </div>
  <section id="about">
    <div class="jumbotron jumb-about" id="about">
      <div class="content container">
        <h2>
          Launch your career into the orbit
        </h2>
        <div class="description">
          <p>
            Get started with a career in front end web development by learning
            the basics of the HTML5, CSS3 and JavaSrcipt. Master the languages
            of the web. This path will prepare you to build basic websites and
            then build interactive web apps.
          </p>
        </div>

        <img
          src="../../assets/images/undraw_static_assets_rpm6 2.png"
          alt="working together"
        />
      </div>
    </div>
  </section>
  <section id="howitworks">
    <div class="jumbotron jumb-hiw">
      <div class="content container-fluid">
        <h2>How It Works</h2>
        <div class="main-timeline t1">
          <div class="timeline-img">
            <img
              src="../../assets/images/Study online1.png"
              alt="girl studying"
            />
          </div>
          <div class="round round-in timeline">
            <span><strong>1</strong></span>
          </div>
          <div class="timeline-text">
            <h6>STUDY FROM THE COMFORT OF YOUR HOME</h6>
            <p>
              Inspire Coder equips you with tons of resources ranging from
              books, blog post, videos, e-books which can all be downloaded and
              can be accessed offline for times of low internet connection.
            </p>
          </div>
        </div>
        <div class="main-timeline t2">
          <div class="timeline-img">
            <img src="../../assets/images/raw file.png" alt="girl studying" />
          </div>
          <div class="round round-in timeline middle">
            <span><strong>2</strong></span>
          </div>
          <div class="timeline-text">
            <h6>ATTEMPT WEEKLY CHALLENGES</h6>
            <p>
              You learng by writting code, practice what you have learnt so far
              and attemp weekly challenges which would be given, solutions can
              be accessed on the dashboard and the best solution would be
              displayed on the leader board
            </p>
          </div>
        </div>
        <div class="main-timeline t3">
          <div class="timeline-img">
            <img src="../../assets/images/Web design.png" alt="girl studying" />
          </div>
          <div class="round round-in timeline">
            <span><strong>3</strong></span>
          </div>
          <div class="timeline-text">
            <h6>ENJOY ONE ON ONE MENTORSHIP</h6>
            <p>
              Meet with mentors on the platform and other team mates for peer
              review session, codelabs, meetups tcs
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="get-started">
    <div class="jumbotron jumb-get-started">
      <div class="content container-fluid p-4">
        <h2>Ready to get started?</h2>
        <p>
          Fill the form below with the correct email address, further details
          would be sent to you soon
        </p>
        <form class="container-md">
          <div class="row">
            <div class="form-group col-md-6">
              <input type="text" placeholder="First Name" class="form_input" />
            </div>
            <div class="form-group col-md-6">
              <input
                type="email"
                placeholder="Email Address"
                class="form_input"
              />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <textarea
                placeholder="Reason for applying"
                class="form_input"
              ></textarea>
            </div>
            <div class="form-group col-md-6 d-flex justify-content-start">
              <button type="submit" class="button btn-white ml-4">Apply</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <section id="#contact">
    <div class="jumbotron jumb-contact">
      <div class="container-fluid">
        <div class="flex-container">
          <div class="links-container">
            <div class="links">
              <p class="title">Links</p>
            </div>
            <div class="links">
              <img
                src="../../assets/images/arrow.png"
                alt="arrow"
                class="mr-2"
              />
              <a href="#">Home</a>
            </div>
            <div class="links">
              <img
                src="../../assets/images/arrow.png"
                alt="arrow"
                class="mr-2"
              />
              <a href="#">About</a>
            </div>
            <div class="links">
              <img
                src="../../assets/images/arrow.png"
                alt="arrow"
                class="mr-2"
              />
              <a href="#">How it works </a>
            </div>
            <div class="links">
              <img
                src="../../assets/images/arrow.png"
                alt="arrow"
                class="mr-2"
              />
              <a href="#">Apply</a>
            </div>
            <div class="links">
              <img
                src="../../assets/images/arrow.png"
                alt="arrow"
                class="mr-2"
              />
              <a href="#">Contact</a>
            </div>
          </div>
          <div class="contact-info">
            <div class="">
              <div class="">
                <p class="title">Contact Info</p>
              </div>
              <p class="lead-text">Customer Services:</p>
              <p>02035143971</p>
              <p>0-24 h every day. Customised</p>
              <p>service: Local call. Nigerian time</p>
            </div>
          </div>
          <div class="contact-form">
            <div class="">
              <div class="">
                <p class="title">Contact Us</p>
              </div>
              <form>
                <div class="form-group mt-4">
                  <div class="group">
                    <input
                      type="text"
                      required
                      class="input-field"
                      placeholder="e.g. melnik909@ya.ru"
                    />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label class="label">Email</label>
                  </div>
                </div>
                <div class="form-group mt-4">
                  <div class="group">
                    <input
                      type="text"
                      required
                      class="input-field"
                      placeholder="e.g. When does this begin?"
                    />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label class="label">Subject</label>
                  </div>
                </div>
                <div class="form-group mt-4">
                  <div class="group">
                    <input
                      type="text"
                      required
                      class="input-field"
                      placeholder="type your message here"
                    />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label class="label">Message</label>
                  </div>
                </div>
                <div class="group float-right">
                  <button class="button btn-white">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
